<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Magneur uses your location to help you find places nearby and attach your current location to journal entries.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Magneur accesses your photo library to let you add photos to your travel journal entries.</string>
</dict>
</plist>
